
<div class="container-profile d-flex flex-column justify-content-center text-center">
        <img src="<%=asset_url("cat.jpg")%>" alt="Knitting Cat">
        <h3 class=" m-0"><%= current_user.first_name %></h3>
       <p class="a m-0"><%= current_user.email %></p>
       <h5 class=" mt-4 mb-2">Your Projects</h5>
       <div class="projects-profile d-flex justify-content-center mt-4">
        <div class="ongoing p-3">
            <p>Ongoing</p>
            <%= @projects.count %>
        </div>
        <div class="finished ms-5 p-3">
            <p>Finished</p>
            <%= @finished_projects.count %>
        </div>

       </div>
</div>
<div class="profile-buttons d-flex jstify-content-around w-100">
    <%= link_to edit_user_registration_path do %>
        <div class="button text-center">Edit profile</div>
    <% end %>
    <%= link_to destroy_user_session_path,  data: { turbo_method: :delete } do %>
    <div class="button text-center">Logout</div>
    <% end %>
</div>
