<div class="container">
<%= simple_form_for (@project) do |f|%>
<%= f.input :title, placeholder: "Type your title here..." %>
<%= f.input :designer %>
<%= f.input :category, :label => "Category", collection: ["Accessory", "Bag", "Blanket", "Gloves", "Hat", "Home Decor", "Pet Clothes", "Scarf", "Shawl", "Socks", "Sweater", "T-shirt", "Vest", "Other"] %>
<%= f.input :needle_size %>
<%= f.input :product_size, :label => "Size", collection: [ "xxxs", "xxs", "xs", "s", "m", "l", "xl", "xxl", "3xl", "4xl", "5xl" ] %>
<%= f.input :difficulty, :label => "Difficult", collection: [ "Easy", "Intermediate", "Difficult" ] %>
<%= f.association :yarns, label_method: :material, value_method: :id, include_blank: false, as: :check_boxes, multiple: :true %>

<%= f.simple_fields_for (:project_yarn) do |p|%>
<%=p.input :amount%>
<%end%>
<div class="d-flex justify-content-between p-3">
<div><%= f.input :pattern, as: :file %></div>
<div><%= f.input :images, as: :file, input_html: { multiple: true } %>
<% @project.images.each do |ph| %>
<%= f.hidden_field :images, multiple: true, value: ph.signed_id %>
<% end %>
</div>

</div>
<div class="d-flex justify-content-around floating">
<%= f.button :submit, "Update project", class: "button" %>
</div>
<% end %>
</div>
