
<h2 class="project-status">
  Finished Projects
</h2>

<div class="projects-grid">
  <% @finished_projects.each do |project| %>
    <%= link_to project_path(project), class: "project-card-link" do %>
      <div class="project-card">
        <% if project.images.attached? %>
          <%= image_tag project.images.last, alt: "#{project.title} image" %>
        <% else %>
          <%= image_tag "sweater.webp", alt: "Placeholder" %>
        <% end %>
            
        <div class="card-body">
          <h3 class="text-center"><%= project.title.capitalize %></h3>
        </div>
        <div class="difficulty">
          <p class="text-center"><%= (project.difficulty.presence || "Unknown").capitalize %></p>
        </div>
        <div class="progress d-flex mt-2 justify-content-evenly">
          <p class="label">Progress</p>
          <span><%= project.percentage %>%</span>
        </div>
        

      </div>
    <% end %>
  <% end %>
</div>
