<h3 class="pt-3 ps-4">Hello, <%= current_user.first_name %></h3>

<% if @projects.any? %>
  <h2 class="project-status">
    My Projects
    <span><%= link_to "See all", projects_path, class: "see-all" %></span>
  </h2>

  <div class="projects-grid">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class: "project-card-link", data: { turbo: false } do %>
        <div class="project-card">

          <% if project.images.attached? %>
            <img src="<%= url_for(project.images.last) %>" alt="<%= project.title %> image">
          <% else %>
            <img src="<%= asset_path("sweater.webp") %>" alt="Placeholder">
          <% end %>

          <div class="card-body">
            <h3 class="text-center"><%= project.title.capitalize %></h3>
          </div>

          <div class="difficulty">
            <p class="text-center"><%= (project.difficulty.presence || "Unknown").capitalize %></p>
          </div>

        <div class="progress d-flex mt-2 justify-content-around">
  <p class="label">Progress</p>  
  <span><%= project.percentage %>%</span>
 
</div>


        </div>
      <% end %>
    <% end %>
  </div>

<% else %>
  <div class="text-center pt-2">
    <em>Sorry, no projects found.</em>
    <br>

    <img src="<%= asset_path("sad_cat.jpg") %>" alt="Sad Cat" class="mt-3 sad-cat">

    <div class="pt-5" style="text-align: center;">
      <%= link_to new_project_path do %>
        <p class="button">Create New Project</p>
      <% end %>
    </div>
  </div>
<% end %>


<% if @finished_projects.any? %>
  <h2 class="project-status">
    Finished Projects
    <span><%= link_to "See all", projects_finished_path, class: "see-all" %></span>
  </h2>

  <div class="projects-grid">
    <% @finished_projects.each do |project| %>
      <%= link_to project_path(project), class: "project-card-link" do %>
        <div class="project-card">

          <% if project.images.attached? %>
            <%= image_tag project.images.last, alt: "#{project.title} image" %>
          <% else %>
            <%= image_tag "sweater.webp", alt: "Placeholder" %>
          <% end %>

          <div class="card-body">
            <h3 class="text-center"><%= project.title.capitalize %></h3>
          </div>

          <div class="difficulty">
            <p class="text-center"><%= (project.difficulty.presence || "Unknown").capitalize %></p>
          </div>

<div class="progress d-flex mt-2 justify-content-evenly">
  <p class="label">Progress</p>
 
  <span><%= project.percentage %>%</span>
</div>

        </div>

      <% end %>
    <% end %>
  </div>
<% end %>
