<h2 class="project-status">
  Ongoing Projects
  <span><%= link_to "See all", projects_path, class: "see-all" %></span>
</h2>

<div class="projects-grid">
  <% @projects.each do |project| %>
    <div class="project-card">

      <%# question for the team: should the first uploaded picture be displayed? %>
      <% if project.images.attached? %>
        <%= image_tag project.images.first, alt: "#{project.title} image" %>
      <% else %>
        <%= image_tag "sweater.webp", alt: "Placeholder" %>
      <% end %>

      <div class="card-body">
        <h3><%= project.title.capitalize %></h3>
        <p class="difficulty">
        <%= (project.difficulty.presence || "Unknown").capitalize %>
        </p>

        <%# should difficulty and title be mandatory? %>

        <span class="progress">40%</span>

        <%= link_to "View", project_path(project), class: "view-btn" %>
      </div>

    </div>
  <% end %>
</div>

<%# question for the team - should users be able to edit/delete? %>

<h2 class="project-status">
  Finished Projects
  <span class="see-all">See all</span>
</h2>

<div class="projects-grid">

  <div class="project-card">
    <img src="example.jpg">
    <div class="card-body">
      <h3>Sweater</h3>
      <p class="difficulty">Difficult</p>
      <span class="progress">40%</span>
    </div>
  </div>

  <div class="project-card">
    <img src="example.jpg">
    <div class="card-body">
      <h3>Cosy Beannie</h3>
      <p class="difficulty">Easy</p>
      <span class="progress">20%</span>
    </div>
  </div>

</div>
