<h2 class="project-status">Ongoing Projects</h2>

<div class="projects-grid">
  <% @projects.each do |project| %>
    <%= link_to project_path(project), class: "project-card-link" do %>
      <div class="project-card">

        <% if project.images.attached? %>
          <img src="<%= url_for(project.images.last) %>" alt="<%= project.title %> image">
        <% else %>
          <img src="<%= asset_path("sweater.webp") %>" alt="Placeholder">
        <% end %>

        <div class="card-body">
          <h3><%= project.title.capitalize %></h3>
          <p class="difficulty">
            <%= (project.difficulty.presence || "Unknown").capitalize %>
          </p>

          <span class="progress">40%</span>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
