<h2 class="project-status">Ongoing Projects</h2>

<div class="projects-grid">
  <% @projects.each do |project| %>
    <div class="project-card">

      <% if project.images.attached? %>
        <img src="<%= url_for(project.images.first) %>" alt="<%= project.title %> image">
      <% else %>
        <img src="<%= asset_path("sweater.webp") %>" alt="Placeholder">
      <% end %>

      <div class="card-body">
        <h3><%= project.title %></h3>
        <p class="difficulty"><%= project.difficulty.presence || "Unknown" %></p>
        <%# will be done later %>
        <span class="progress">40%</span>

        <a class="view-btn" href="<%= project_path(project) %>">View</a>
      </div>

    </div>
  <% end %>
</div>
