<h2 class="project-status">Ongoing Projects</h2>

<div class="projects-grid">
  <% @projects.each do |project| %>
    <div class="project-card">

<%# question for the team, should be the first picture displayed here? %>
      <% if project.images.attached? %>
        <img src="<%= url_for(project.images.first) %>" alt="<%= project.title %> image">
      <% else %>
        <img src="<%= asset_path("sweater.webp") %>" alt="Placeholder">
      <% end %>

      <div class="card-body">
        <h3><%= project.title.capitalize %></h3>
        <p class="difficulty">
        <%= (project.difficulty.presence || "Unknown").capitalize %>
        </p>
        <%# question for the team - should the difficulty, title etc mandatory for the users to fill in? %>

        <%# will be done later - discuss with the team %>

        <span class="progress">40%</span>

        <a class="view-btn" href="<%= project_path(project) %>">View</a>
      </div>

    </div>
  <% end %>
</div>
