<div class="bg-warning text-dark">This is a placeholder for the yellow bar</div>
<div class="container">
<%= simple_form_for (@project) do |f|%>
<%= f.input :title, placeholder: "Type your title here..." %>
<%= f.input :designer %>
<%= f.input :category, :label => "Category", collection: [ "sweater", "t-shirt", "vest", "hat", "other" ] %>
<%= f.input :needle_size %>
<%= f.input :product_size, :label => "Size", collection: [ "xxxs", "xxs", "xs", "s", "m", "l", "xl", "xxl", "3xl", "4xl", "5xl" ] %>
<%= f.input :difficulty, :label => "Difficult", collection: [ "Easy", "Intermediate", "Difficult" ] %>
<%# <div class="d-flex justify-content-between p-3">
<div><%= f.input :pattern, as: :file %></div>
<%# <div><%= f.input :image, as: :file %></div>
<%# </div>   %>
<div class="button"><%= f.submit %></div>
<% end %>
</div>
