<div class="container">
<%= simple_form_for (@project) do |f|%>
<%= f.input :title, placeholder: "Type your title here..." %>
<%= f.input :designer %>
<%= f.input :category, :label => "Category", collection: ["Bag", "Blanket", "Cardigan", "Gloves", "Hat", "Home Decor", "Pet Clothes", "Scarf", "Shawl", "Socks", "Sweater", "T-shirt", "Vest", "Other"]%>
<%= f.input :needle_size %>
<%= f.input :product_size, :label => "Size", collection: [ "xxxs", "xxs", "xs", "s", "m", "l", "xl", "xxl", "3xl", "4xl", "5xl" ] %>
<%= f.input :difficulty, :label => "Difficult", collection: [ "Easy", "Intermediate", "Difficult" ] %>
<p class="form-label">Yarns</p>
  <div class="yarns"><%= f.association :yarns, label: false, wrapper: false, label_method: :material, value_method: :id, include_blank: false, as: :check_boxes, multiple: :true %></div>
  </div>

<%= f.simple_fields_for (:project_yarn) do |p|%>
<%=p.input :amount%>
<%end%>
<div class="d-flex justify-content-between p-3">
<div><%= f.input :pattern, as: :file %></div>
<div><%= f.input :images, as: :file, input_html: { multiple: true } %></div>
</div>
<div class="d-flex justify-content-around floating">
<%= f.button :submit, "Create project", class: "button" %>
</div>
<% end %>
</div>

<%# f.association :company, label_method: :company_name, value_method: :id, include_blank: false %>
<%# Yarn.all.map { |yarn| yarn.material.upcase } %>
<%# <%= f.association :particular_users, collection: @all_users, input_html: { class: 'multiselectuser'} %>

<%# <%= f.association :yarns,
  multiple: true,
  label_method: :material,
  value_method: :id,
  include_blank: false %>
<%# <%= f.input :yarn_ids,
  as: :select,
  multiple: true,
  collection: Yarn.all,
  label_method: :material,
  value_method: :id,
  include_blank: false %>
