<%# Main container %>
<%# a bootstrap container with default padding %>
<div class="container project-container">

  <%# lets Bootstrap JS target this carousel, applies styling + animation, makes it auto-slide.%>
  <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @project.images.each_with_index do |img, i| %>
        <div class="carousel-item <%= 'active' if i == 0 %>">
          <%= cl_image_tag (img.key) if @project.images.attached? %>
        </div>
      <% end %>
    </div>

    <%# Carousel navigation buttons %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<%# Bootstrap flex container - title %>
<div class="d-flex justify-content-between align-items-center mt-3">
  <h2 class="project-title"><%= @project.title.capitalize %></strong></h2>

  <div class="d-flex gap-3">
    <%# delete button %>
    <%= link_to project_path(@project),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>

    <%# edit button %>
    <%= link_to edit_project_path(@project) do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <% end %>
  </div>
</div>

<p class="project-difficulty"><%= @project.difficulty %></p>


  <%# <div>
    <p class="mb-1">10%</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">hah</div>
    </div>
  </div> %>

<div class="project-description">
  <h3 class="description">Project Description</h3>

  <p><span class="label">Designer:</span> <%= @project.designer %></p>
  <p><span class="label">Category:</span> <%= @project.category %></p>
  <p><span class="label">Needle:</span> <%= @project.needle_size %></p>

  <% @yarns = @project.yarns %>
  <div class="d-flex">
    <p>
      <span class="label">Composition of Yarn:</span>
      <%= @yarns.map { |yarn| yarn.material }.join(", ") %>
    </p>
  </div>
</div>



  <div class="d-flex justify-content-around floating mt-3">
    <div class="button">Start Project</div>
    </div>


<%# Why there are 2 pattern links here? %>

<%=  link_to "pattern", url_for(@project.pattern) if @project.pattern.attached? %>


<%# <%= cloudinary_url @project.pattern.key, height: 300, width: 400, crop: :fill %>

<%=  link_to "Pattern", url_for(@project.pattern) if @project.pattern.attached?  %>

<%# <%= cl_image_tag(@project.images.key) if @project.images.attached? %>
