<!DOCTYPE html>
<html>
  <head>
    <title>Stitchly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body >
    <div class="d-flex justify-content-end flex-column " >
        <div ><%= render "components/navbar" %></div>
        <div ><%= yield %></div>
      <%# <div class="d-flex align-items-end sticky">
        <%= render "components/footer" %> %>
      </div>
  </body>
</html>
